* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f6fb;
  color: BLUE;
}

header {
  background: linear-gradient(90deg, #0d6efd, #0a58ca);
  color: PINK;
  padding: 20px;
  text-align: center;
  position: relative;
}

.dark-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.card h2 {
  margin-bottom: 10px;
  color: #0d6efd;
}

.subject {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #0d6efd;
  color:BLUE;
  cursor: pointer;
  margin-bottom: 8px;
}

button:hover {
  background: #084298;
}

footer {
  text-align: center;
  padding: 15px;
  background: BLUE;
  color: white;
}

/* DARK MODE */
.dark {
  background: #121212;
  color: pink;
}

.dark .card {
  background: #1e1e1e;
}

.dark input,
.dark select,
.dark textarea {
  background: #2a2a2a;
  color: green;
  border: 1px solid #555;
}